h1{
    height: 100px;
    box-shadow: 17px 15px 18px grey;
    margin-bottom: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, Narrow, sans-serif;
    font-size: 30px;

    background-color: aquamarine;
    position: relative;
}

#HomeButton{
    text-align: left;

    height: 35px;
    width: 35px;

    position: absolute;
    left: 3%;
    top: 30%;
}

.generalBox{
    width: 200px;
    padding: 30px;
    border: aquamarine;
    background-color: yellowgreen;
    box-shadow: 15px 13px 16px grey;
    float: left;
}

#index section :hover{
    background-color: olive;
}

.Button {
    text-decoration: none;
    padding: 20px;
    border: 1px aquamarine;

    background-color: black;
    color: white;

    margin-left: 35px;

    font-size: 20px;
    font-family: Arial, Narrow, sans-serif;
}

#index .Button:hover{
    border: black;
    background-color: darkgrey;
    color: black;
}

.htmlBox{
    width: 200px;
    padding: 30px;
    border: aquamarine;
    background-color: yellowgreen;
    box-shadow: 15px 13px 16px grey;

    float: left;
    clear: none;

    margin-left: 25px;
    margin-top: 48px;
}

.cssBox{
    width: 200px;
    padding: 30px;
    border: aquamarine;
    background-color: yellowgreen;
    box-shadow: 15px 13px 16px grey;

    float: left;
    clear: none;

    margin-left: 25px;
    margin-top: 48px;
}

.links li a{
    font-size: 20px;
    text-decoration: none;
    color: black;

    font-family: Arial, Nova, Cond, Light, sans-serif;
}

.links li a:hover{
    color: darkgrey;
}

p{
    font-family: Calibri, Light, sans-serif;
    font-size: 20px;
}

h2{
    font-family: Bodoni, MT, Poster, Compressed, sans-serif;
    font-size: 30px;
    margin-top: 50px;

    background-color: yellowgreen;
    padding: 20px;
}

h2:hover{
    background-color: olive;
}
